* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: -1px;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    width: 344px;
    height: 69px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    background-color: #f8ff23;
    color: black;
    outline: 0;
    display: block;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
}

.button:hover {
    background-color: white;
}

.main {
    overflow: hidden;
    position: relative;
}

.black-block {
    position: absolute;
    width: 477px;
    height: 910px;
    top: 0;
    background-color: black;
    z-index: -2;
    right: calc(50% - 780px);
}

/* HEADER */

.header {
    padding: 46px 0;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 129px;
    vertical-align: bottom;
}

.menu {
    margin-left: 177px;
    margin-right: auto;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 65px;
}

.menu ul a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.menu ul a:hover {
    color: #f8ff23;
}

.phone {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: normal;
}

/* MAIN-CONTENT */

.main-content {
    padding-top: 100px;
    padding-bottom: 175px;
}

.main-content .container{
    position: relative;
}

.main-info {
    max-width: 755px;
}

.main-info h1 {
    font-size: 80px;
    line-height: 100%;
    margin-bottom: 40px;
    font-weight: normal;
}

.main-info p {
    font-size: 24px;
    line-height: 120%;
    color: #d4d4d4;
    max-width: 450px;
    margin-bottom: 60px;
}

.main-image {
    position: absolute;
    top: 78px;
    right: -576px;
    z-index: -1;
}
